
<h1 class="pl-5 pt-2 pb-1">Lista de mediciones</h1>
<table class="ml-5 table-hover table-striped">
    <thead class="table-active">
        <tr>
            <td>Id sensor</td>
            <td>Fecha</td>
            <td>PM10</td>
            <td>PM2.5</td>
            <td>Latitud/Longitud</td>
        </tr>
    </thead>
    <tbody>
        
        <tr ng-repeat="r in registros">
            <td><a href="/#!/sensor/{{r.sensorid}}/">{{ r.sensorid }}</a></td>
            <td><a href="/#!/sensor/{{r.sensorid}}/{{r.fecha}}">{{ r.fecha }}</a></td>
            <td>{{ r.pm10 }}</td>
            <td>{{ r.pm2_5 }}</td>
            <td>{{ r.latlong }}</td>
            <td><button class="btn btn-danger" ng-click="eliminarRegistro(r.sensorid,r.fecha)">Eliminar</button></td>
        </tr>
        <tr>
            <td><input class="form-control" ng-model="nReg.sensorid" /></td>
            <td><input class="form-control" ng-model="nReg.fecha" /></td>
            <td><input class="form-control" ng-model="nReg.pm10" /></td>
            <td><input class="form-control" ng-model="nReg.pm2_5" /></td>
            <td><input class="form-control" ng-model="nReg.latlong" /></td>
            <td><button class="btn btn-primary" ng-click="crearRegistro()">Añadir</button></td>
        </tr>
        <tr>
            <td><button class="btn btn-danger" ng-click="eliminarTodo()">Eliminar todo</button></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>